<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">

    <meta name="keyword" content="{{ .Page.Params.keyword }}, {{ .Site.Params.keywords }}">

    {{- template "_internal/opengraph.html" . -}}
    <meta name="og:image" content="{{ .Page.Params.cover }}">
    {{- template "_internal/google_analytics.html" . -}}
    {{- template "_internal/schema.html" . -}}
    {{- template "_internal/twitter_cards.html" . -}}
    <meta itemprop="keywords" content=" {{ .Page.Params.keywords }}, {{ .Site.Params.keywords }}">
    <meta name="twitter:image" content="{{ .Page.Params.cover }}">

    <title>{{ .Title }}</title>

    <link rel="canonical" href="{{ .Permalink | relURL }}">

    <link rel="stylesheet" href="{{ "css/global.css" | relURL }}">

    <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">

    <link rel="stylesheet" href="{{ "css/search.css" | relURL }}" />

    <!-- algolia related style -->
    {{ if site.Params.algolia.enabled }}
    <link rel="stylesheet" href="{{ "css/autocomplete-theme-classic.css" | relURL }}" />
    {{ end }}

    <meta name="monetag" content="0c57c9e45cf89ed7b50b9728c800a1b9">
    <meta name="google-adsense-account" content="ca-pub-3573669925863576">

    <!-- custom style files -->
    {{ range site.Params.css }}
    <link rel="stylesheet" href="{{ .url | relURL }}" />
    {{ end }}

</head>