<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png" />
    <link rel="manifest" href="/img/site.webmanifest" />

    {{- template "_internal/opengraph.html" . -}}
    <meta name="og:image" content="{{ .Page.Params.cover }}" />
    {{- template "_internal/google_analytics.html" . -}} {{- template
    "_internal/schema.html" . -}} {{- template "_internal/twitter_cards.html" .
    -}}
    <meta itemprop="keywords"
        content="{{ range $index, $element := .Page.Params.keywords}}{{ if $index }}, {{ end }}{{ $element }}{{ end }}" />
    <meta name="twitter:image" content="{{ .Page.Params.cover }}" />

    <meta name="title" content="{{ .Page.Title }}" />
    <meta name="description" content="{{ .Page.Params.description }}" />
    <meta name="author" content="{{ .Page.Params.author }}" />
    <meta name="keywords"
        content="{{ range $index, $element := .Page.Params.keywords}}{{ if $index }}, {{ end }}{{ $element }}{{ end }}" />

    <title>{{ .Title }}</title>

    <link rel="canonical" href="{{ .Permalink | relURL }}" />

    <link rel="stylesheet" href="{{ "css/global.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/search.css" | relURL }}" />

    <!-- algolia related style -->
    {{ if site.Params.algolia.enabled }}
    <link rel="stylesheet" href="{{ "css/autocomplete-theme-classic.css" | relURL }}" /> {{ end }}

    <!-- google adsense tag -->
    <meta name="google-adsense-account" content="ca-pub-3573669925863576" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4V070KMHQV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-4V070KMHQV");
    </script>

    <!-- custom style files -->
    {{ range site.Params.css }}
    <link rel="stylesheet" href="{{ .url | relURL }}" />
    {{ end }}
</head>