<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Article",
    "headline": "{{ .Page.Title }}",
    "datePublished": "{{ .Page.Params.Date }}",
    "image": [
      "{{ .Page.Params.cover }}"
    ],
    "author": {
      "@type": "Person",
      "name": "{{ .Page.Params.author }}"
    },
    "description": "{{ .Page.Params.description }}",
    "keywords": "{{ .Page.Params.keywords }}"
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ https://whatsupdate.netlify.app/ }}"
    }
  }
  
  </script>