{{ define "main" }}
{{ $pages := where .Site.RegularPages "Params.plain" "ne" true }}
    <section class="everydayfeed">
    <div class="section-content">
      <div style="margin-top: 24px;">
        <h1 style="font-size: 2.5rem;">InfoTrendSpot</h1>
        <p style="font-size: 18px; letter-spacing: 0.7px;">InfoTrendSpot is your go-to source for the latest tech updates and news. Stay informed with our coverage of cutting-edge technology trends, product launches, and industry insights. From AI advancements to the newest gadgets, InfoTrendSpot keeps you ahead in the ever-evolving tech world. See <a href="/posts/">all articles</a> and explore <a href="/tags/">popular topics</a> like AI, gadgets, cybersecurity, and more.</p>
      </div>
      <h2 class="section-head">{{ i18n "latestArticles" }}</h2>
      <ul role="list" class="section-tiles">
        {{ range first 1 $pages }}
          {{ $level := 1 }}
          {{ partial "tile.html" (dict "context" . "level" $level) }}
        {{ end }}

        {{ range first 4 ( after 1 $pages) }}
          {{ $level := 2 }}
          {{ partial "tile.html" (dict "context" . "level" $level) }}
        {{ end }}

        {{ range first 6 ( after 5 $pages) }}
          {{ $level := 3 }}
          {{ partial "tile.html" (dict "context" . "level" $level) }}
        {{ end }}
      </ul>
      <div class="btnContainer">
        <a href="/posts" class="customBtn">Past Entries</a>
      </div>
    </div>
    <style>
      .btnContainer {
        display: flex;
        justify-content: center;
      }
      .customBtn {
        padding: 15px 25px;
        background: black;
        color: white;
        margin-top: 10px;
      }
      .customBtn:hover {
        transform: scale(1.15);
        text-decoration: none;
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
      }
    </style>
  </section>
{{- if site.Params.ShowMore -}}
  <section class="more-from-newsroom">
    <div class="section-content">
      <h2 class="section-head">{{ i18n "moreArticles" }}</h2>
      <ul role="list" class="section-tiles">

      {{ range first 6 $pages }}
          {{ partial "moreTile.html" (dict "context" .) }}
        {{ end }}
      </ul>
      <div class="view-archive-wrapper">
        <a href="{{ "posts" | relURL }} " class="cta-primary-light" data-analytics-region="router" data-analytics-title="view archive">{{ i18n "viewArchive"}}</a>
      </div>
    </div>
  </section>
{{- end -}}
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var script = document.createElement("script");
        script.src = {{ "js/animation.js" | relURL  }};
        document.head.appendChild(script);

        script.onload = function () {
          console.log("lazyload.js loaded");
          // when layout is loaded, load the images
          initImage();
        };
      });
    </script>
{{ end }}